
<h4 class="centering">Where Researchers and the Public Collaborate</h4>
@if (User.Identity.IsAuthenticated)
{
    <div class="centering">
        <p>Welcome @User.Identity.Name</p>
        <p>Please choose a portal:</p>
        <p>@Html.ActionLink("Collection Portal", "Index", "Collection") | @Html.ActionLink("Research Portal", "Index", "Research")</p>
    </div>

}
else
{

    <hr />
    <h5 class="centering">Please @Html.ActionLink("Login ", "Login", "Account") or @Html.ActionLink("Register ", "Register", "Account")</h5>


}