@model List<CitizenScience.Models.Fauna>

@foreach (CitizenScience.Models.Fauna item in Model)
{
    string photoImage = "";
    if (item.FaunaPhoto != null)
    {
        
        photoImage = String.Format("data:image/gif;base64," + Convert.ToBase64String(item.FaunaPhoto));
        <h3>its here</h3>
        
    }
    <h5>Name: @item.FaunaName Description: @item.FaunaDescripton</h5>
        <img src="@photoImage" alt="@item.FaunaPhoto.Length"/>
        <p>@item.FaunaPhoto</p>
}

