<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    
    <title></title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-2">
                <a class="brand-logo">Citizen Science </a>
                <ul class="right hide-on-med-and-down">
                    
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Admin", "Index", "Account")</li>

                </ul>
            </div>
        </nav>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>